/*CSS RESET STARTS HERE*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*CSS RESET ENDS HERE*/

/*CUSTOM CSS STARTS HERE*/

body {
    background-color: #f5d9d5;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    padding: 1rem 2rem !important;
    background-color: #fff4b0 !important;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

.nav-link {
    color: #000;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;
}

.nav-link:hover {
    color: #EA1C2C;
}

.navbar-brand {
    color: #EA1C2C;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;
}

.col-lg-6 {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    font-size: 2.5rem;
}

.slash {
    color: #EA1C2C;
}

h2 {
    color: #EA1C2C;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2em;
}

p {
    color: #000;
    font-weight: 200;
    line-height: 2;
    font-size: 1em;
}

img {
    object-fit: cover;
}

.section-text {
    padding: 6rem 2rem;
}

@media (min-width: 1400px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5em;
    }
    
    p {
        font-size: 1.25em;
    }

    .section-text {
        padding: 0 10rem;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .section-text {
        padding: 1rem 4rem;
    }
}

/*CUSTOM CSS ENDS HERE*/